<div class="grid_12">
  <h3 class="title ui-state-default ui-corner-all ">Edit milestone</h3>
  <%= render 'form' %>
  <p>
    <%= link_to "Back", @milestone.project %> | 
    <%= link_to 'Delete Milestone', @milestone, :confirm => "Are you sure?", :method => :delete %>
  </p>
</div>
