<div class="grid_12">
  <h3 class="title ui-state-default ui-corner-all"><%= @employee.name %></h3>

  <b>Projects</b>
  <p>
    <% @employee.projects.each do |e| %>
      <%= link_to e.name, e %><br />
    <% end %> 
  </p>

  <% if can? :edit, @employee %>
  <%= link_to 'Edit', edit_employee_path(@employee) %>
<% end %>
</div>

