<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>So you forgot your password, huh?</h1>
    <p>
      No problem, just follow this link to set up a new one.<br />
      <%= link_to "Reset Password", edit_user_password_url(@user, :forgot_token => @user.forgot_token, :host => "prodfusion.com") %>
    </p>
  </body>
</html>
