<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Your invite to collaborate on <%= @project.name %></h1>
    <p>
      You have been invited to PRODfusion.com,
      for your project, <%= @project.name %>.<br/>
    </p>
    <p>
      To login to the site, just follow this link: http://prodfusion.com/login.
    </p>
    <p>Lorem ipsum.</p>
  </body>
</html>
