<h1>Listing tasks</h1>

<table>
  <tr>
    <th>Project</th>
    <th>Name</th>
    <th>Complete</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.name %></td>
    <td><%= task.complete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_milestone_task_path %>
