/* 
 * Colors
 * RED: FD0132
 * GRA: 666666
 * GRE: 669801
 * BLU: 0166FF
 */

body { 
  background: #fff;
  color: #000;
}

#remember, #forgot {
  text-align: right;
}

#remember {
  margin-top:20px;
}

#forgot a {
  color: #737373;
}

#forgot a:hover, #forgot a:active {
  color: #000;
}

#prod-footer {
  margin-right:30px;
  margin-top: 15px;
}

form p {
  margin-bottom: 5px;
}



h6 {
  text-align: justify;
}

h6 span {
  color: #ff0000;
}

#body img {
  margin-top: 30px;
}

a img {
  border: none;
}

a {
  color: magenta;
  text-decoration: none;
}

a:hover, a:active {
  color: black;
}

.ui-state-error p {
  font-size: 0.8em;
  margin: 1em 0;
}

.ui-state-error {
  margin-bottom: 20px;
}

#tools {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  height: 45px;
  width: 250px;
  right: 100px;
  padding-top: 10px;
  padding-left: 20px;
}

#tools a {
  display:table-cell; 
  vertical-align:middle;
  padding-left: 10px;
  color: #ccc;
}

#tools img.border_left {
  border-left: 2px dashed #ccc; 
  padding-left: 20px;
}

#tools a.padding_right {
  padding-right: 10px;
}

#tools a:hover {
  color: #fff;
}

#canvas, #ias_image {
}

#ias_image {
  z-index: 1;
}

#sidebar {
  position: absolute; 
  left:0;
  top: 0;
  height: 100%;
  width: 0px;
  padding-left: 20px;
  padding-top: 40px;
  background: rgba(0, 0, 0, 0.5);
}

#sidebar h2, #sidebar h3 {
  font-size: 20px;
  margin-bottom: 0;
}

#sidebar h4 {
  font-size: 16px;
}

input.ui-button {
  margin-left: 0;
  margin-right: 0;
}

#color_select {
  background: url(/images/color_select.png);
  margin-bottom: 20px;
  height: 36px;
  position: relative;
  width: 36px;
}

#color_select div {
  background: url(/images/color_select.png) 50% 50%;
  height: 30px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 30px;
}  

.tasks li{

  padding:10px;
  margin-bottom: 10px;
  list-style-type: none;
  margin-left:0;
}

#milestones{
    border-bottom: 1px solid #373737;
    margin: 0;
    padding: 0;
}

#milestones li{
    margin-right: 3px;
    padding: 10px;
    color: #FFF;
}

.behind{
    background: #FE0034;
}

.no_update{
    background: #666666;
}

.completed{
    background: #679902;
}

.new_update{
    background: #0069F9;
}

#aspects{
    list-style-type: none;
    margin: 0;
    padding: 0;
}


#aspects li {
    margin-left: 0;
    font-size: 16px;
}

.title {
  font-size: 16px;
  margin-bottom: 20px;
  padding: 4px;
  padding-left: 8px;
  cursor: pointer;
    text-transform: uppercase;
  
}

#aspects .info p {
}

#aspects .info{
  margin-top: 20px;
}

#aspects .info img {
  padding: 20px;
  margin-right: 20px;
}


#new_status{
    
}


#footer {
  padding-bottom: 40px;
  margin-top: 100px;
}

#header {
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
}

#header h1 {
  font-size:24px;
  margin-bottom: 0;
  font-weight: bold;
  margin-right: 20px;
}
  
#header img {
  margin-right: 50px;
}

#header p {
  display: inline;
  text-align: right;
}

#projects h2 {
  margin-bottom: 0;
}

.tasks li.selected, .tasks li:hover {
  cursor: pointer;
  background: #f0f0f0;
}

.note {
	display: none;
	border: 2px dotted #666;
	overflow: hidden; 
	position: absolute; 
	z-index: 0;
	cursor: text;
}

.notep {
	display: none; 
	background: #fff; 
	font-size: 12px; 
	margin-top: 0px; 
	padding: 8px;
	position: absolute;
	cursor: text;
} 

#noteform {
	display: none;
	position: absolute;
	width: 250px;
}

#noteform textarea{
	width: 100%;
}

span.ui-icon {
float: left;
margin: 0 4px;
}

input[type=submit] {
  margin-bottom: 10px;
}

.field {
  margin-bottom: 10px;
}

.gravatar {
  margin-right: 10px;
  padding: 4px;
  border: 1px #ccc solid;
}

.due {
  padding-left: 10px;
  font-style:italic;
  color: #666;
}

.tasks {
 margin-left: 20px;
} 

.milestone {
  font-weight: bold;
  font-size: 14px;
  padding-right: 10px;
}

.milestone span:before {
  content: " - ";
}

.users {
  margin:20px 0;
}
