body { 
  background: #333;
  color: #e6e6e6;
}

.milestones {
  margin-left: 20px;
}


#remember, #forgot {
  text-align: right;
}

#remember {
  margin-top:20px;
}

#forgot a {
  color: #737373;
}

#forgot a:hover, #forgot a:active {
  color: #000;
}

#prod-footer {
  margin-right:30px;
  margin-top: 15px;
}

form p {
  margin-bottom: 5px;
}



h6 {
  text-align: justify;
}

h6 span {
  color: #ff0000;
}

#body img {
  margin-top: 30px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.ui-state-error p {
  font-size: 0.8em;
  margin: 1em 0;
}

.ui-state-error {
  margin-bottom: 20px;
}

#tools {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  height: 45px;
  width: 250px;
  right: 100px;
  padding-top: 10px;
  padding-left: 20px;
}

#tools a {
  display:table-cell; 
  vertical-align:middle;
  padding-left: 10px;
  color: #ccc;
}

#tools img.border_left {
  border-left: 2px dashed #ccc; 
  padding-left: 20px;
}

#tools a.padding_right {
  padding-right: 10px;
}

#tools a:hover {
  color: #fff;
}

#canvas, #ias_image {
  position: absolute;
  margin-top: 100px;
  margin-left: 50%;
  margin-right: 50%;
}

#ias_image {
  z-index: 1;
}

#sidebar {
  position: absolute; 
  left:0;
  top: 0;
  height: 100%;
  width: 0px;
  padding-left: 20px;
  padding-top: 40px;
  background: rgba(0, 0, 0, 0.5);
}

#sidebar h2, #sidebar h3 {
  font-size: 20px;
  margin-bottom: 0;
}

#sidebar h4 {
  font-size: 16px;
}

input.ui-button {
  margin-left: 0;
  margin-right: 0;
}

#color_select {
  background: url(/images/color_select.png);
  margin-bottom: 20px;
  height: 36px;
  position: relative;
  width: 36px;
}

#color_select div {
  background: url(/images/color_select.png) 50% 50%;
  height: 30px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 30px;
}  
