<div class="grid_12">
  <h3 class="title ui-state-default ui-corner-all"><%= @client.name %></h3>
  <p>
    <b>Website:</b>
    <%= @client.website %>
  </p>

  <b>Projects</b>
  <p>
    <% @client.projects.each do |p| %>
      <%= link_to p.name, p %><br />
    <% end %> 
  </p>

  <%= link_to 'Edit', edit_client_path(@client) %>
</div>
