<h1>Listing projects</h1>

<table>
  <tr>
    <th>Client</th>
    <th>Deadline</th>
    <th>Name</th>
    <th>Progress</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.deadline %></td>
    <td><%= project.name %></td>
    <td><%= project.progress %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_client_project_path %>
