<div class="container_12">
  <div class="grid_12">
    Welcome <%= current_user.name.split.first %>, <%= link_to "Logout", logout_path %>
</div>
<div class="clear"></div>
<div class="grid_4">
  <h3>Your Projects</h3>
  <% @projects.each do |p| %>
    <p><%= p.name%></p>
    <div class="milestones">
      <% p.milestones.each do |m| %>
        <%= m.name %>
      <% end %>
    </div>
  <% end %>

</div>


</div>
