<%= div_for (annotation) do %>
  <p style="padding: 10px;border: 1px dashed #666;>
    <%= link_to annotation.user.name %><span style="color:#666"> - <%= time_ago_in_words annotation.updated_at %> ago</span><br/><%= link_to annotation_text(annotation), image_annotation_path(annotation.image, annotation), :remote => true %><br />
  </p>
<% end %>

