$("#comment_image_<%= @annotation.image.id %> .notes").append("<p> <%= escape_javascript(link_to @annotation.text, comment_image_annotation_path(@annotation.image, @annotation), :remote => true) %> </p>");
$("#new_annotation").hide();
